td{
  border: 2px solid black;
  width:100px;
  height:100px;
  text-align: center;
  font-size:300%;
}
table{
  border-collapse: collapse;
  background-color: #b3fff0;
}
h3,h4,h5{
  text-align: center;
}
